<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Register</h3>
  <div class="container">
    <form action="/register", method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">username</label>
        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input  name="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">secret</label>
        <input name="secret" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <h3>Login</h3>
  <div class="container">
    <form action="/login", method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">username</label>
        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input  name="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
</body>
</html>